.preview-image {
    width: 100%; /* Display preview image full width */
    margin-bottom: 15px; /* Adjust margin as needed */
  
    img {
      max-width: 100%; /* Scale image to fit within container */
      height: auto;
    }
  }
  .img-thumbnail {
    width: 100%; /* Đưa hình ảnh về kích thước tối đa của cột */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị biến dạng */
}
.nz-modal {
    .ant-modal-content {
      padding: 20px; /* Adjust padding as needed */
    }
  }
  
  /* Form group styling */
  .form-group {
    flex-direction: column;
    margin-bottom: 15px; /* Adjust margin as needed */
    /* Form labels */
    .nz-form-label {
      margin-bottom: 5px; /* Adjust margin as needed */
    }
  }
  
  /* Input fields */
  .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  nz-table{
    margin-top: 20px;
  }
  .function-bar{
    display: flex;
    justify-content: space-between;
  }