<div class="grid-container">
    <div class="grid-item">
      <div class="chart-container">
        <h2>Thống kê nhuận bút</h2>
        <canvas id="chart1"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class="chart-container">
        <h2>Thống kê tài khoản</h2>
        <canvas id="chart2"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class="chart-container">
        <canvas id="chart3"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class="chart-container">
        <canvas id="chart4"></canvas>
      </div>
    </div>
  </div>