<app-header></app-header>
<div class="container">
    <div class="banner">
        <img src="\assets\img\Tất cả đầu sách.png" alt="Banner Image">
    </div>
    <div class="widget">
        <h2>TẤT CẢ ĐẦU SÁCH</h2>
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm" [(ngModel)]="searchKeyword" (keyup)="searchBooks()"/>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar">
          <h3>Danh mục</h3>
          <ul>
            <li><input type="checkbox" id=" trinh-tham"> <label for="trinh-tham">Trinh thám</label></li>
            <li><input type="checkbox" id="lang-man"> <label for="lang-man">Lãng mạn</label></li>
            <li><input type="checkbox" id="hai-huoc"> <label for="hai-huoc">Hài hước</label></li>
            <li><input type="checkbox" id="van-hoc"> <label for="van-hoc">Văn học</label></li>
            <li><input type="checkbox" id="hanh-dong"> <label for="hanh-dong">Hành động</label></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="book-list">
          <div class="book" *ngFor="let book of freeBooks">
            <a (click)="gotoBookDetail(book.bookId)">
                <div class="book-info">
                  <img [src]="book.imgsrc" alt="Ảnh bìa">
                  <p>{{ book.title }}</p>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>