body {
    background: #121214;
    color: #F2F2F2;
    backdrop-filter: blur(10px); /* Bắt đầu với blur 10px */
    font-family: 'Netflix Sans';
    background-image: url("assets/img/background-img.jpg");
}